

<body>
  <div class="container">

    <div class="row" style="margin-top:20px;  ">

      <div class="col">
        <div class="mt-4">
          <div class="text-center">
            <H3>Phiếu Nhập hàng </H3>
          </div>
          <form class="form-inline my-2 my-lg-0 mt-5">
            <input class="form-control mr-sm-2" type="search" placeholder="Tìm mã hóa đơn" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Tìm</button>
          </form>

          <a href="" class="mt-4 btn btn-link" style="float:right;">
            Thùng rác
          </a>
          <div>
            <table class="table table-striped mt-4">
              <thead>
                <tr>
                  <th scope="col">STT</th>
                  <th scope="col">Mã Hóa Đơn Nhập hàng</th>
                  <th scope="col">Tên NXB</th>
                  <th scope="col">Số điện thoại</th>
                  <th scope="col">thời gian</th>
                  <th scope="col" colspan="2"> Lựa Chọn </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>
                    <a href="/order-detail" class="btn-link">M0001</a>
                  </td>
                  <td>Nguyễn Anh Vinh studio</td>
                  <td>0913344123</td>
                  <td>13:15 Thứ Bảy, 13 tháng 11, 2021</td>
                  <td>
                    <a href="#" class="btn btn-link">Sửa</a>
                    <a href="#" class="btn btn-link">Xóa</a>
                  </td>
                <tr>
                  <th scope="row">2</th>
                  <td>
                    <a href="/order-detail" class="btn-link">M0002</a>
                  </td>
                  <td>Nguyễn Phan Anh Vinh studio</td>
                  <td>0913344123</td>
                  <td>13:15 Thứ Bảy, 13 tháng 11, 2021</td>
                  <td>
                    <a href="#" class="btn btn-link">Sửa</a>
                    <a href="#" class="btn btn-link">Xóa</a>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <td><i class="fa fa-angle-left"></i></td>
                <td colspan="2" class="hidden-xs"> </td>
                <td class="hidden-xs text-center"></td>
                <td class="hidden-xs"></td>
                <td colspan="2"> <a href="/input-order" class="btn btn-success"><i
                      class="fa fa-angle-right"></i>Thêm phiếu nhập mới</a>
                </td>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>