<!doctype html>
<html lang="en">
  <head>
  <title>Nhập đơn đặt hàng</title>
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
    crossorigin="anonymous"
  />
  <!-- Google Font -->
  <link
    href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap"
    rel="stylesheet"
  />

  <!-- Css Styles -->
  <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" href="../css/font-awesome.min.css" type="text/css" />
  <link rel="stylesheet" href="../css/elegant-icons.css" type="text/css" />
  <link rel="stylesheet" href="../css/nice-select.css" type="text/css" />
  <link rel="stylesheet" href="../css/jquery-ui.min.css" type="text/css" />
  <link rel="stylesheet" href="../css/owl.carousel.min.css" type="text/css" />
  <link rel="stylesheet" href="../css/slicknav.min.css" type="text/css" />
  <link rel="stylesheet" href="../css/style.css" type="text/css" />

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"
  ></script>
  <style>
    .flex-column {
        border-style: solid; 
        border-color: #77B4E3;
        border-width: 1px; 
    }
    .active { 
        color: white; 
    } 
    .overflow-auto {
    border-style: solid; 
    height: 600px; 
    border-color: #77B4E3; 
    border-width: 1px; 
    }
    .form-label{
        margin-top: 10px;
        margin-bottom: 3px;
    }
  </style>

</head>
  <body>
    <div class="container">
        <h2 class="text-center">Phiếu nhập hàng</h2>
        <form action="" class="needs-validation" novalidate >
            <div class=" mt-5 col-4">
                <label for="validationCustom01" class="form-label">Nhà Xuất Bản</label>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Tên Nhà xuất bản</option>
                    <option value="1">Kim đồng</option>
                    <option value="2">Tuổi trẻ</option>
                    <option value="3">Giáo dục</option>
                  </select>
            </div>
            <div class="col-md-4">
                <label for="inputEmail4" class="form-label">Email</label>
                <input type="email" class="form-control" id="inputEmail4">
              </div>
              <div class="col-md-4">
                <label for="inputPassword4" class="form-label">Số điện thoại </label>
                <input type="text" class="form-control" id="inputPassword4">
              </div>
              <div class="col-6">
                <label for="inputAddress" class="form-label">Điện chỉ</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
              </div>
        </form>
        <br>
        <table id="cart" class="table table-hover table-condensed mt-4">
            <thead>
                <tr>
                    <th style="width:50%">Tên sản phẩm</th>
                    <th style="width:10%">Giá</th>
                    <th style="width:10%">Số lượng</th>
                    <th style="width:20%">Thành tiền</th>
                    <th style="width:10%"> </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-th="Product">
                        <div class="row">
                            <div class="col-lg-3 hidden-xs">
                                <img src="https://cdn0.fahasa.com/media/catalog/product/cache/1/small_image/600x600/9df78eab33525d08d6e5fb8d27136e95/i/m/image_195509_1_46642.jpg"
                                    alt="Sản phẩm 1" class="img-responsive" width="100">
                            </div>
                            <div class="col-sm-9 ">
                                <h4 class="nomargin">Trạng Quỷnh tập 340</h4>
                            </div>
                        </div>
                    </td>
                    <td data-th="Price">10.000 đ</td>
                    <td data-th="Quantity"><input class="form-control text-center" value="1" type="number">
                    <td data-th="Subtotal">10.000 đ</td>
                    </td>
                    <td class="actions" data-th="">
                        <button class="btn btn-danger btn-sm">
                            <i class="fa fa-trash-o">Loại bỏ</i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td data-th="Product">
                        <div class="row">
                            <div class="col-lg-3 hidden-xs"><img
                                    src="https://cdn0.fahasa.com/media/catalog/product/cache/1/small_image/400x400/9df78eab33525d08d6e5fb8d27136e95/i/m/image_195509_1_50089.jpg"
                                    alt="Sản phẩm 1" class="img-responsive" width="100">
                            </div>
                            <div class="col-sm-9">
                                <h4 class="nomargin">Trạng quỷnh tập 100</h4>
                            </div>
                        </div>
                    </td>
                    <td data-th="Price" >10.000 đ</td>
                    <td data-th="Quantity"><input class="form-control text-center" value="1" type="number">
                    <td data-th="Subtotal">10.000 đ</td>
                    </td>
                    <td class="actions" data-th="">
                        <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o">Loại bỏ</i>

                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td><a href="/" class="btn btn-warning"><i class="fa fa-angle-left"></i> Thêm Sản Phẩm</a>
                    </td>
                    <td colspan="2" class="hidden-xs"> </td>
                    <td class="hidden-xs text-center"><strong>Tổng tiền 500.000 đ</strong>
                    </td>
                    <td><button href="/"  type="submit" class="btn btn-success btn-block">Đặt hàng <i class="fa fa-angle-right"></i></button>
                        
                    </td>
                </tr>
                <tr>
                    <td colspan="3"> <i class="fa fa-angle-left"></i> 
                    </td>
                    <td colspan="2" class="hidden-xs text-end "> NV. Tên nhân viên <i class="fa fa-angle-right"></i>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>

    
    










    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>